<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title> doctor view </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="hirecss/base.css">
    <link rel="stylesheet" href="hirecss/vendor.css">
    <link rel="stylesheet" href="hirecss/main.css">

    <!-- script
    ================================================== -->
    <script src="hirejs/modernizr.js"></script>
    <script src="hirejs/pace.min.js"></script>

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a href="/sign" title="home">Update</a></li>
                    <li><a   href="/dokview" title="services"> Profile </a></li>
                </ul>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="https://www.facebook.com/mostofa.shakib"> <i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/kurt_adib01/"> <i class="fa fa-instagram"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->

    <!-- about
    ================================================== -->

    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">

            <div class="imgcontainer">
                <img src="images/six.png" alt="Avatar" class="avatar">
            </div>

            <div class="col-full">
                <h3 class="subhead subhead--dark"> Welcome </h3>
                <h1 class="display-1 display-1--light"> Doctor! </h1>
            </div>
        </div> <!-- end section-header -->

    <table id="t01">
        <tr id="t00">
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td> Jaundice </td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>64</td>
            <td> Diabetics </td>
        </tr id="t00">
            <tr>
            <td>John</td>
            <td>Doe</td>
            <td>20</td>
            <td> Sinus </td>
        </tr>
    </table>

    </section> <!-- end s-about -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Mostofa Adib Shakib </span> 
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="hirejs/jquery-3.2.1.min.js"></script>
    <script src="hirejs/plugins.js"></script>
    <script src="hirejs/main.js"></script>

</body>

</html>