<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title> dok view </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="hirecss/base.css">
    <link rel="stylesheet" href="hirecss/vendor.css">
    <link rel="stylesheet" href="hirecss/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- script
    ================================================== -->
    <script src="hirejs/modernizr.js"></script>
    <script src="hirejs/pace.min.js"></script>


</head>

<body id="top">

    <!-- about
    ================================================== -->

    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="imgcontainera">
                <img src="images/six.png" alt="Avatar" class="avatara">
            </div>

            <h1> My Information </h1>
        </div> <!-- end section-header -->

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="hoya">
                 <p> INFORMATION </p>  
                    <span> Texas Tech University Health Care Center  </span>
                    <br>  M.D.  </br>
                    <br>  Lubbock, Texas  </br>
                    <br>  Internal Medicine Residency at Texas </br>
            </div>

           <div class="hoyaa">
                 <p> BIOGRAPHY </p>  
                    <span> Disciplined and confident Physician with Texas license </span>
                    <br> M.D. in Internal Medicine  </br>
                    <br> Extensive experience in hospital and clinical settings  </br>
                    <br> Strong background working with the minority  </br>
            </div>

            <div class="hoyaay">
                 <p style="text-decoration: underline"> Rating </p>  
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
            </div>

            <div class="hoyaayay">
                 <p style="text-decoration: underline"> Reviews </p>
                    <span> We love Dr. Mamigonian. He listens and remembers every thing we have to say. </span>
                    <br> Very interested in his patients. Has no problem referring people to specialists if necessary </br>
                    <br> Submitted on 24-12-18 By Mrs. Signh </br>
            </div>


        </div>

    </section> <!-- end s-about -->

    <!-- footer
    ================================================== -->
    <footer>
        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Mostofa Adib Shakib </span> 
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->

    <!-- Java Script
    ================================================== -->
    <script src="hirejs/jquery-3.2.1.min.js"></script>
    <script src="hirejs/plugins.js"></script>
    <script src="hirejs/main.js"></script>

</body>

</html>