<!DOCTYPE html>
<html>
<head>
	<title> Dok Files</title>
	<link rel="stylesheet" type="text/css" href="Dok.css">
</head>

<style type="text/css">
	

body {
  border-radius: 5px;
    background-color: white;
    padding: 20px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif; 
    font-color: #d4d4dc;
  color: black;
  text-align:center;
}

div {
  width: 10%
  border-radius: 100px;
  background-color: blue;
  padding: 1px;

}

table,  th, td {
  align-content: center;
  border: 1px solid black;
  border-collapse: collapse;
}

 th, td {
  padding: 15px;
  text-align: left;

}

</style>

<body>

<img src="images/00.jpg" height="200" width="200">
<div>
	<h1>Doctor list</h1>
</div>

<br><br>
<table style="width:80%" align="center">	
	<tr>
		<th> Doctor </th>
		<th>Speciality</th>
		<th>Availability</th>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>	
	<t		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>
</table>

</body>
</html>